<div fxFlexAlign="center" fxLayoutAlign="center center">
  <form [formGroup]="formHorario" autocomplete="off">
    <h1>Registrar dispositivo</h1>
    <hr />
    <div fxLayout="column wrap" fxLayoutGap="20px">
      <mat-card>
        <mat-card-subtitle>Datos del dispositivo</mat-card-subtitle>
        <div fxLayout="row" fxLayoutGap="20px">          
          <div fxFlex>
            <mat-form-field appearance="outline" fxFill>
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field appearance="outline" fxFill>
              <mat-label>Dispositivo</mat-label>
              <input matInput formControlName="id_estacion" />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex>
            <mat-form-field appearance="outline" fxFill>
              <mat-label>MQTT Topic</mat-label>
              <input matInput formControlName="topic" />
            </mat-form-field>
          </div>          
          <div fxFlex></div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex>
            <mat-form-field appearance="outline" fxFill>
              <mat-label>Edificio</mat-label>
              <input matInput formControlName="building" />
            </mat-form-field>
          </div>          
          <div fxFlex>
            <mat-form-field appearance="outline" fxFill>
              <mat-label>Sala</mat-label>
              <input matInput formControlName="room" />
            </mat-form-field>
          </div>          
        </div>
        <div fxLayout="row" fxLayoutGap="20px">      
          <div fxFlex>
            <mat-form-field appearance="outline" fxFill>
              <mat-label>Longitud</mat-label>
              <input matInput formControlName="longitude" />
            </mat-form-field>
          </div>          
          <div fxFlex>
            <mat-form-field appearance="outline" fxFill>
              <mat-label>Latitud</mat-label>
              <input matInput formControlName="latitude" />
            </mat-form-field>
          </div>          
        </div>
      </mat-card>
      <button
        mat-stroked-button
        color="primary"
        (click)="save()"
        [disabled]="!isValidForm()"
      >
        Registrar
      </button>
    </div>
  </form>
</div>

